<section id="intro">
  <!-- Header -->
  <div class="intro-header">

    <div class="grid">

      <div class="column">

      </div>


      <div class="column center">
        <h1>Visual & Light Workshop</h1>

        <div>

          <br />

          <div class="columns">
            <div></div>

            <div class="box">
              <h2>
                Do you want to create visuals with <a href="https://modv.js.org/">modV</a> and 
                to control lights with <a href="https://github.com/NERDDISCO/luminave">luminave</a>? 
                Join our (<a href="https://twitter.com/_2xAA">Sam Wray</a> & <a href="https://twitter.com/TimPietrusky">Tim Pietrusky</a>) mailing list to get news when the next workshop will happen.
              </h2>

              <br />

              <form
                action="https://gmail.us4.list-manage.com/subscribe/post?u=3e67d09a535eb0f9551f686c5&amp;id=c94b79abb8"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <button type="submit" name="subscribe" class="button">Subscribe</button>
              </form>
            </div>
          </div>




        </div>
      </div>



      <div class="column center">


      </div>



      <div class="column bottom">
        {{ if isset .Site.Params "social" }}
        <ul class="list-inline intro-social-buttons">
          {{ partial "social.html" . }}
        </ul>
        {{ end }}
      </div>

    </div>
  </div>
</section>